/* Taken from https://github.com/GGORG0/dotfiles/tree/master/.config/waybar */
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #f8f8f2;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue #8be9fd;
@define-color purple #bd93f9;
@define-color green #50fa7b;
@define-color yellow #f1fa8c;
@define-color orange #ffb86c;
@define-color red #ff5555;
@define-color pink #ff79c6;

/* --- GENERAL --- */
* {
    font-family: Fira Code Nerd Font;
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
}

#clock,
#network,
#pulseaudio,
#cpu,
#memory,
#battery,
#custom-updates,
#custom-dunst,
#tray,
#custom-lock,
#custom-power {
    background-color: @surface0;
    padding: 0.5rem 0.75rem;
    margin: 5px 0;
}

/* --- LEFT MODULES --- */

#workspaces {
    border-radius: 1rem;

    margin: 5px 0 5px 5px;
    padding-left: 0.3rem;
    background-color: @surface0;
}

#workspaces button {
    color: @text;
    background-color: transparent;
    border-radius: 2rem;
    padding: 0.25rem;
    margin: 0.3rem 0;

    transition: color 0.5s, background-color 0.5s;
}

#workspaces button.empty {
    color: @overlay0;
}

#workspaces button.special {
    color: @pink;
}

#workspaces button.active {
    border-bottom: 2px solid @pink;
    color: @blue;
    background-color: @surface0
}

#workspaces button:hover {
    color: @blue;
    background: @surface0;
}

/* --- CENTER MODULES --- */

#clock {
    border-radius: 1rem;
    color: @text;
}

/* --- RIGHT MODULES --- */

#network {
    color: @text;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

#pulseaudio {
    color: @text;
}

#cpu {
    color: @text;
}

#memory {
    color: @text;
}

#battery {
    color: @text;
}

#battery.charging {
    color: @text;
}

#battery.warning:not(.charging) {
    color: @text;
}

#custom-updates {
    color: @text;
}

#custom-dunst {
    margin-right: 0.75rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @text;
}

/*---*/

#tray {
    color: @text;
}

/* --- */

#custom-lock {
    color: @text;
}

#custom-power {
    margin: 5px 5px 5px 0;
    border-radius: 0px 1rem 1rem 0px;
    color: @text;
}
